{% assign today_mese = 'now' | date: '%B' %}
{% assign today_anno = 'now' | date: '%Y' %}
{% assign today_meseanno = 'now' | date: '%B %Y' %}

{% assign gennaio = 'dcpd.mesi.gennaio' | t %}
{% assign febbraio = 'dcpd.mesi.febbraio' | t %}
{% assign marzo = 'dcpd.mesi.marzo' | t %}
{% assign aprile = 'dcpd.mesi.aprile' | t %}
{% assign maggio = 'dcpd.mesi.maggio' | t %}
{% assign giugno = 'dcpd.mesi.giugno' | t %}
{% assign luglio = 'dcpd.mesi.luglio' | t %}
{% assign agosto = 'dcpd.mesi.agosto' | t %}
{% assign settembre = 'dcpd.mesi.settembre' | t %}
{% assign ottobre = 'dcpd.mesi.ottobre' | t %}
{% assign novembre = 'dcpd.mesi.novembre' | t %}
{% assign dicembre = 'dcpd.mesi.dicembre' | t %}

{% assign today_mese = today_mese
  | replace: 'January', gennaio
  | replace: 'February', febbraio
  | replace: 'March', marzo
  | replace: 'April', aprile
  | replace: 'May', maggio
  | replace: 'June', giugno
  | replace: 'July', luglio
  | replace: 'August', agosto
  | replace: 'September', settembre
  | replace: 'October', ottobre
  | replace: 'November', novembre
  | replace: 'December', dicembre
%}

{% assign today_meseanno = today_meseanno
  | replace: 'January', gennaio
  | replace: 'February', febbraio
  | replace: 'March', marzo
  | replace: 'April', aprile
  | replace: 'May', maggio
  | replace: 'June', giugno
  | replace: 'July', luglio
  | replace: 'August', agosto
  | replace: 'September', settembre
  | replace: 'October', ottobre
  | replace: 'November', novembre
  | replace: 'December', dicembre
%}
{% comment %} #### Assegno un default #### {% endcomment %}
{% assign breakAfter = 50 %}
{%- if collection.metafields.custom.custom_breakpoint_description -%}
  {% assign breakAfter = collection.metafields.custom.custom_breakpoint_description %}
{%- endif -%}
{% assign cd = collection.description %}

{% comment %} #### Button translation #### {% endcomment %}
{% assign rm = 'dcpd.collection.leggi_piu' | t %}
{% assign rl = 'dcpd.collection.leggi_meno' | t %}

{% comment %} #### Render #### {% endcomment %}
{%- if cd.size > 0 -%}
  <div class="ms-main-collections-description__wrapper">
    <div class="containerX">
      <div class="ms-collections-description__wrapper">
        {{
          cd
          | replace: '###MESE###', today_mese
          | replace: '###ANNO###', today_anno
          | replace: '###MESEANNO###', today_meseanno
        }}
      </div>
    </div>
  </div>
  <div class="additional_content" style="display:none !important"></div>
{%- endif -%}

<style>
    /*
    .ms-main-collections-description__wrapper p,
    .ms-main-collections-description__wrapper ul li
    {
      font-family: var(--font-primary);
      font-weight: 400;
    }

    .ms-main-collections-description__wrapper h2,
    .ms-main-collections-description__wrapper h3
    {
        margin-top: 25px !important;
        margin-bottom: 16px !important;
    }

    @media all and (min-width: 769px) {
      .ms-main-collections-description__wrapper {
        padding: 0 20px;
      }

      .ms-main-collections-description__wrapper h2,
      .ms-main-collections-description__wrapper h3
      {
          font-size: 32px !important;
          line-height: 44px !important;
      }

      .ms-main-collections-description__wrapper p,
      .ms-main-collections-description__wrapper ul li
      {
        font-size: 20px !important;
        line-height: 26px !important;
      }
    }

    @media all and (max-width: 768px) {
      .ms-main-collections-description__wrapper h2,
      .ms-main-collections-description__wrapper h3
      {
          font-size: 30px !important;
          line-height: 44px !important;
      }

      .ms-main-collections-description__wrapper p,
      .ms-main-collections-description__wrapper ul li
      {
        font-size: 18px !important;
        line-height: 26px !important;
      }
    }
  */
</style>

{% comment %} #### Stili #### {% endcomment %}
<style>
  .ms-main-collections-description__wrapper{border-top:1px solid #EEE;padding-top:40px;padding-bottom:20px;}
  .ms-collections-description__wrapper{text-align:left;font-size: 16px;}
  .ms-collections-description__wrapper a{text-decoration:underline;}
  .ms-collections-description__wrapper h2,
  .ms-collections-description__wrapper h3,
  .ms-collections-description__wrapper h4{margin-top:20px;margin-bottom:20px;font-size:24px;}
  .ms-collections-description__wrapper p{margin-bottom:10px;}
  .ms-collections-description__wrapper .rm-link{display:block;margin-left:auto !important;margin-right:auto !important;width:250px;margin-top:30px;margin-bottom:50px;text-decoration:none;}
</style>

{% comment %} #### JS #### {% endcomment %}
<script>
  {% comment %}
  (function(name,context,definition){if(typeof define==="function"&&define.amd){define(definition)}else if(typeof module!=="undefined"&&module.exports){module.exports=definition()}else{context[name]=definition(name,context)}})("$readMoreJS",this,function(){"use strict";var linkDataIdPrefix="read-more-link_";function extend(){for(var i=1,l=arguments.length;i<l;i++){for(var key in arguments[i]){if(Object.prototype.hasOwnProperty.call(arguments[i],key)){if(arguments[i][key]&&arguments[i][key].constructor&&arguments[i][key].constructor===Object){arguments[0][key]=arguments[0][key]||{};extend(arguments[0][key],arguments[i][key])}else{arguments[0][key]=arguments[i][key]}}}}return arguments[0]}function getWords(subjectString){if(typeof subjectString!=="string"){return[]}return subjectString.split(/\s+/).filter(Boolean)}function truncateByWordsCount(subjectString,wordsCount,suffix){var words=getWords(subjectString);wordsCount=Math.floor(wordsCount);if(wordsCount>words.length||wordsCount<0||isNaN(wordsCount)){return subjectString}return words.slice(0,wordsCount).join(" ")+(suffix||"")}function truncateByCharactersCount(subjectString,characterCount,suffix){var regex,truncated;characterCount=Math.floor(characterCount);if(characterCount>subjectString.length||characterCount<0||isNaN(characterCount)){return subjectString}regex=new RegExp("^.{0,"+characterCount+"}[S]*","g");truncated=subjectString.match(regex);suffix=suffix||"";truncated=truncated[0].replace(/\s$/,"");truncated=truncated+suffix;return truncated}function trim(subjectString){return String.prototype.trim?subjectString.trim():subjectString.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g,"")}function isNaN(value){if(Number.isNaN){return Number.isNaN(value)}return typeof value==="number"&&value!==value}function printLink(index,linkClass,moreLink){return'<a href="#" data-clicked="false" data-id="'+linkDataIdPrefix+index+'"'+(linkClass?' class="'+linkClass+'"':"")+">"+moreLink+"</a>"}function init(options){var defaults={target:"",wordsCount:void 0,charactersCount:void 0,toggle:true,moreLink:"Read more",lessLink:"Read less",linkClass:""};options=extend({},defaults,options);var targets=document.querySelectorAll(options.target);var initialArray=[];var truncatedArray=[];var initialContent,truncatedContent,i,j,rmLinks;function onMoreAnchorClicked(evt){evt.preventDefault();var linkEl=evt.currentTarget;var linkId=linkEl.getAttribute("data-id");var index=linkId.split("_")[1];if(linkEl.getAttribute("data-clicked")!=="true"){targets[index].innerHTML=initialArray[index];if(options.toggle){linkEl.innerHTML=options.lessLink;linkEl.setAttribute("data-clicked",true);targets[index].appendChild(linkEl)}else{linkEl.removeEventListener("click",onMoreAnchorClicked)}}else{targets[index].innerHTML=truncatedArray[index];targets[index].appendChild(linkEl);linkEl.innerHTML=options.moreLink;linkEl.setAttribute("data-clicked",false)}}for(i=0;i<targets.length;i++){initialContent=trim(targets[i].innerHTML);if(options.wordsCount){truncatedContent=truncateByWordsCount(initialContent,options.wordsCount,"...")}else if(options.charactersCount){truncatedContent=truncateByCharactersCount(initialContent,options.charactersCount,"...")}initialArray.push(initialContent);truncatedArray.push(truncatedContent);if(options.wordsCount&&options.wordsCount<getWords(initialContent).length){targets[i].innerHTML=truncatedArray[i]+printLink(i,options.linkClass,options.moreLink)}else if(options.charactersCount&&options.charactersCount<initialContent.length){targets[i].innerHTML=truncatedArray[i]+printLink(i,options.linkClass,options.moreLink)}}rmLinks=document.querySelectorAll('[data-id^="'+linkDataIdPrefix+'"]');for(j=0;j<rmLinks.length;j++){rmLinks[j].addEventListener("click",onMoreAnchorClicked)}return function destroy(){for(j=0;j<rmLinks.length;j++){rmLinks[j].removeEventListener("click",onMoreAnchorClicked)}for(i=0;i<targets.length;i++){targets[i].innerHTML=initialArray[i]}}}return init});
  {% endcomment %}

  (function(name, context, definition) {
      if (typeof define === "function" && define.amd) {
          define(definition)
      } else if (typeof module !== "undefined" && module.exports) {
          module.exports = definition()
      } else {
          context[name] = definition(name, context)
      }
  })("$readMoreJS", this, function() {
      "use strict";
      var linkDataIdPrefix = "read-more-link_";

      function extend() {
          for (var i = 1, l = arguments.length; i < l; i++) {
              for (var key in arguments[i]) {
                  if (Object.prototype.hasOwnProperty.call(arguments[i], key)) {
                      if (arguments[i][key] && arguments[i][key].constructor && arguments[i][key].constructor === Object) {
                          arguments[0][key] = arguments[0][key] || {};
                          extend(arguments[0][key], arguments[i][key])
                      } else {
                          arguments[0][key] = arguments[i][key]
                      }
                  }
              }
          }
          return arguments[0]
      }

      function getWords(subjectString) {
          if (typeof subjectString !== "string") {
              return []
          }
          return subjectString.split(/\s+/).filter(Boolean)
      }

      function truncateByWordsCount(subjectString, wordsCount, suffix) {
          var words = getWords(subjectString);
          wordsCount = Math.floor(wordsCount);
          if (wordsCount > words.length || wordsCount < 0 || isNaN(wordsCount)) {
              return subjectString
          }
          var viewedContent=words.slice(0, wordsCount).join(" ") + (suffix || "").replace('...','');
          var extraContent=subjectString.replace(viewedContent,"");
          $('.additional_content').html(extraContent);
           //console.log('vv',viewedContent);
           //console.log('xx',extraContent);
          //return words.slice(0, wordsCount).join(" ") + (suffix || "")
          return viewedContent+'...';
      }

      function truncateByCharactersCount(subjectString, characterCount, suffix) {
          var regex, truncated;
          characterCount = Math.floor(characterCount);
          if (characterCount > subjectString.length || characterCount < 0 || isNaN(characterCount)) {
              return subjectString
          }
          regex = new RegExp("^.{0," + characterCount + "}[S]*", "g");
          truncated = subjectString.match(regex);
          suffix = suffix || "";
          truncated = truncated[0].replace(/\s$/, "");
          truncated = truncated + suffix;
          return truncated
      }

      function trim(subjectString) {
          return String.prototype.trim ? subjectString.trim() : subjectString.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g, "")
      }

      function isNaN(value) {
          if (Number.isNaN) {
              return Number.isNaN(value)
          }
          return typeof value === "number" && value !== value
      }

      function printLink(index, linkClass, moreLink) {
          return '<a href="#" data-clicked="false" data-id="' + linkDataIdPrefix + index + '"' + (linkClass ? ' class="' + linkClass + '"' : "") + ">" + moreLink + "</a>"
      }

      function init(options) {
          var defaults = {
              target: "",
              wordsCount: void 0,
              charactersCount: void 0,
              toggle: true,
              moreLink: "Read more",
              lessLink: "Read less",
              linkClass: ""
          };
          options = extend({}, defaults, options);
          var targets = document.querySelectorAll(options.target);
          var initialArray = [];
          var truncatedArray = [];
          var initialContent, truncatedContent, i, j, rmLinks;

          function onMoreAnchorClicked(evt) {
              evt.preventDefault();
              var linkEl = evt.currentTarget;
              var linkId = linkEl.getAttribute("data-id");
              var index = linkId.split("_")[1];
              if (linkEl.getAttribute("data-clicked") !== "true") {
                  targets[index].innerHTML = initialArray[index];
                  if (options.toggle) {
                      linkEl.innerHTML = options.lessLink;
                      linkEl.setAttribute("data-clicked", true);
                      targets[index].appendChild(linkEl)
                  } else {
                      linkEl.removeEventListener("click", onMoreAnchorClicked)
                  }
                  $('.additional_content').html("");
                  console.log('CHIUSOx');
              } else {
                  targets[index].innerHTML = truncatedArray[index];
                  targets[index].appendChild(linkEl);
                  linkEl.innerHTML = options.moreLink;
                  linkEl.setAttribute("data-clicked", false);
                  var viewedContent=truncatedArray[index].replace('...','');
                  var extraContent=initialArray[index].replace(viewedContent,"");
                  $('.additional_content').html(extraContent);
                  console.log('APERTOx');
              }
          }
          for (i = 0; i < targets.length; i++) {
              initialContent = trim(targets[i].innerHTML);
              if (options.wordsCount) {
                  truncatedContent = truncateByWordsCount(initialContent, options.wordsCount, "...")
              } else if (options.charactersCount) {
                  truncatedContent = truncateByCharactersCount(initialContent, options.charactersCount, "...")
              }
              initialArray.push(initialContent);
              truncatedArray.push(truncatedContent);
              if (options.wordsCount && options.wordsCount < getWords(initialContent).length) {
                  targets[i].innerHTML = truncatedArray[i] + printLink(i, options.linkClass, options.moreLink)
              } else if (options.charactersCount && options.charactersCount < initialContent.length) {
                  targets[i].innerHTML = truncatedArray[i] + printLink(i, options.linkClass, options.moreLink)
              }
          }
          rmLinks = document.querySelectorAll('[data-id^="' + linkDataIdPrefix + '"]');
          for (j = 0; j < rmLinks.length; j++) {
              rmLinks[j].addEventListener("click", onMoreAnchorClicked)
          }
          return function destroy() {
              for (j = 0; j < rmLinks.length; j++) {
                  rmLinks[j].removeEventListener("click", onMoreAnchorClicked)
              }
              for (i = 0; i < targets.length; i++) {
                  targets[i].innerHTML = initialArray[i]
              }
          }
      }
      return init
  });
  $(document).ready(function(){
      $readMoreJS({
         target: '.ms-collections-description__wrapper',
         wordsCount: {{ breakAfter }},
         // charactersCount: {{ breakAfter }},
         toggle: true,
         moreLink: '{{rm}}',
         lessLink: '{{rl}}',
         linkClass: 'btn btn-full btn-primary btn-l rm-link text-center'
      });
  })
</script>
