{%- liquid
  assign featured_product = block.settings.product
  assign fp_quick_add = block.settings.quick_add | default: 'none'
-%}

{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- unless fp_quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if fp_quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if fp_quick_add == 'bulk' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<style>
  #shopify-block-{{ block.id }},
  #ms-block-{{ block.id }} {
    grid-column: span {{ block.settings.mobile_layout }};
    align-self: {{ block.settings.vertical_align }};
  }
  @media (min-width: 750px) {
    #shopify-block-{{ block.id }},
    #ms-block-{{ block.id }} { grid-column: span {{ block.settings.tablet_layout }}; }
  }
  @media (min-width: 990px) {
    #shopify-block-{{ block.id }},
    #ms-block-{{ block.id }} { grid-column: span {{ block.settings.desktop_layout }}; }
  }
</style>

<div id="ms-block-{{ block.id }}" class="ms-block ms-block-featured-product color-{{ block.settings.color_scheme }} gradient">
  {%- render 'card-product',
    card_product: featured_product,
    media_aspect_ratio: block.settings.image_ratio,
    show_secondary_image: block.settings.show_secondary_image,
    show_vendor: block.settings.show_vendor,
    show_rating: block.settings.show_rating,
    show_min_order: block.settings.show_min_order,
    quick_add: fp_quick_add,
    extend_height: false,
    lazy_load: true,
    section_id: section.id
  -%}
</div>

{% schema %}
{
  "name": "Prodotto In Evidenza",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "desktop_layout",
      "label": "Colonne desktop",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 4,
      "info": "Schermi maggiori di 990px"
    },
    {
      "id": "tablet_layout",
      "label": "Colonne tablet",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 6,
      "info": "Schermi tra 750px e 990px"
    },
    {
      "id": "mobile_layout",
      "label": "Colonne mobile",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 12,
      "info": "Schermi sotto i 750px"
    },
    {
      "id": "vertical_align",
      "label": "Allineamento verticale",
      "type": "select",
      "options": [
        { "label": "In alto", "value": "start" },
        { "label": "Centro", "value": "center" },
        { "label": "In basso", "value": "end" },
        { "label": "Esteso", "value": "stretch" }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "Contenuto"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Prodotto"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Proporzioni delle immagini",
      "options": [
        { "label": "Adatta all'immagine", "value": "adapt" },
        { "label": "Ritratto", "value": "portrait" },
        { "label": "Quadrate", "value": "square" }
      ],
      "default": "adapt"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "Mostra la seconda immagine al passaggio del mouse",
      "default": false
    },
    {
      "type": "header",
      "content": "Scheda prodotto"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Schema colore",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Venditore",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "Valutazione del prodotto",
      "default": false,
      "info": "Per le valutazioni dei prodotti e necessaria un'app."
    },
    {
      "type": "checkbox",
      "id": "show_min_order",
      "label": "Mostra quantita minima",
      "default": true,
      "info": "Se attivo, mostra il label della quantita minima d'ordine sulla scheda prodotto (dove impostato)."
    },
    {
      "type": "select",
      "id": "quick_add",
      "label": "Aggiunta rapida",
      "default": "none",
      "options": [
        { "value": "none", "label": "Nessuna" },
        { "value": "standard", "label": "Standard" },
        { "value": "bulk", "label": "Blocco" }
      ]
    }
  ],
  "presets": [
    { "name": "Prodotto In Evidenza" }
  ]
}
{% endschema %}
