{%- liquid
  if block.settings.block_image != blank
    assign img_alt = block.settings.block_image.alt | default: ''
  endif
-%}

<style>
  #ms-block-{{ block.id }} { grid-column: span {{ block.settings.mobile_layout }}; }
  @media (min-width: 750px) { #ms-block-{{ block.id }} { grid-column: span {{ block.settings.tablet_layout }}; } }
  @media (min-width: 990px) { #ms-block-{{ block.id }} { grid-column: span {{ block.settings.desktop_layout }}; } }
</style>

<div id="ms-block-{{ block.id }}" class="ms-block">
  {%- if block.settings.block_image != blank -%}
    {{
      block.settings.block_image
      | image_url: width: block.settings.block_image.width
      | image_tag: loading: 'lazy', widths: '165, 360, 535, 750, 1070, 1500', sizes: '100vw', alt: img_alt
    }}
  {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Immagine",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "desktop_layout",
      "label": "Colonne desktop",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 6,
      "info": "Schermi maggiori di 990px"
    },
    {
      "id": "tablet_layout",
      "label": "Colonne tablet",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 6,
      "info": "Schermi tra 750px e 990px"
    },
    {
      "id": "mobile_layout",
      "label": "Colonne mobile",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 12,
      "info": "Schermi sotto i 750px"
    },
    {
      "type": "header",
      "content": "Contenuto"
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Immagine"
    }
  ],
  "presets": [
    { "name": "Immagine" }
  ]
}
{% endschema %}
