<div
  class="ms-block text-{{ block.settings.alignment }}"
  style="
    --ms-block-cols-desktop: {{ block.settings.desktop_layout }};
    --ms-block-cols-tablet: {{ block.settings.tablet_layout }};
    --ms-block-cols-mobile: {{ block.settings.mobile_layout }};
  "
>
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "Testo",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "desktop_layout",
      "label": "Colonne desktop",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 4,
      "info": "Schermi maggiori di 990px"
    },
    {
      "id": "tablet_layout",
      "label": "Colonne tablet",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 6,
      "info": "Schermi tra 750px e 990px"
    },
    {
      "id": "mobile_layout",
      "label": "Colonne mobile",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 12,
      "info": "Schermi sotto i 750px"
    },
    {
      "type": "header",
      "content": "Contenuto"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Testo",
      "default": "<p>Inserisci il tuo contenuto qui.</p>"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Allineamento",
      "default": "left"
    }
  ],
  "presets": [
    { "name": "Testo" }
  ]
}
{% endschema %}
