<style>
  #shopify-block-{{ block.id }},
  #ms-block-{{ block.id }} {
    grid-column: span {{ block.settings.mobile_layout }};
    align-self: {{ block.settings.vertical_align }};
  }
  @media (min-width: 750px) {
    #shopify-block-{{ block.id }},
    #ms-block-{{ block.id }} { grid-column: span {{ block.settings.tablet_layout }}; }
  }
  @media (min-width: 990px) {
    #shopify-block-{{ block.id }},
    #ms-block-{{ block.id }} { grid-column: span {{ block.settings.desktop_layout }}; }
  }
</style>

<div id="ms-block-{{ block.id }}" class="ms-block text-{{ block.settings.alignment }}">
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "Testo",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "id": "desktop_layout",
      "label": "Colonne desktop",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 4,
      "info": "Schermi maggiori di 990px"
    },
    {
      "id": "tablet_layout",
      "label": "Colonne tablet",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 6,
      "info": "Schermi tra 750px e 990px"
    },
    {
      "id": "mobile_layout",
      "label": "Colonne mobile",
      "type": "range",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "col",
      "default": 12,
      "info": "Schermi sotto i 750px"
    },
    {
      "id": "vertical_align",
      "label": "Allineamento verticale",
      "type": "select",
      "options": [
        { "label": "In alto", "value": "start" },
        { "label": "Centro", "value": "center" },
        { "label": "In basso", "value": "end" },
        { "label": "Esteso", "value": "stretch" }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "Contenuto"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Testo",
      "default": "<p>Inserisci il tuo contenuto qui.</p>"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Allineamento testo",
      "default": "left"
    }
  ],
  "presets": [
    { "name": "Testo" }
  ]
}
{% endschema %}
